.search-results {
  h1 {
    display: inline-block;
  }

  .not-found {
    margin: 20px;
  }

  .search-result-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;

    .movie {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
      position: relative;

      img {
        width: 240px;
        height: 360px;
      }

      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, #000, transparent);
        height: 30px;
      }
    }
  }
}

@media (max-width: 700px) {
  
  h1 {
    display: inline-block;
    margin-top: 70px;
  }

  .search-result-list {
    width: 250px !important;
  }
}
