.search {
  width: 500px;
  margin: 20px auto;
  position: relative;
  border-bottom: 1px solid rgba(#fff, 0.1);
  height: 60px;

  input {
    text-align: start;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 15px;
    border: 1px solid rgba(#fff, 0.2);

    &.tyipng {
      border-radius: 10px 10px 0 0;
    }
  }

  .search-result {
    position: absolute;
    // left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: #fff;
    max-height: 300px;
    overflow: auto;
    z-index: 5;

    .search-result-item {
      display: flex;
      align-items: center;
      justify-content: left;
      padding: 0 15px;
      height: 100px;
      cursor: pointer;

      &:hover {
        background: rgba(#000, 0.9);

        .title {
          background-color: #222;
          opacity: 0.5;
        }
      }

      .title {
        display: block;
      }

      img {
        height: 80px;
        margin-right: 15px;
      }
    }
  }

  .not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 20px;
    font-size: 14px;
    padding: 10px 0;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .search {  
    input {
      width: 50%;
      margin-left: 130px;
    }

    .search-result {
      left: 170px;
      width: 300px;
    }
  }  
}
